@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
  overflow-x: hidden;
}
.marquee {
  font-family: 'Gloria Hallelujah', cursive;
}
/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000; 
  border-radius: 5px; 
} */